<div class="form">
  <div class="logo">
    <p class="title">{{'CONTENT_MANAGEMENT' | translate}}</p>
  </div>
  <div class="email">
    <app-text-input class="input-login" [(ngModel)]="user.email" required placeholder="{{'EMAIL_PLACEHOLDER' | translate}}"></app-text-input>
  </div>
  <div class="password">
    <app-text-input class="input-login" [(ngModel)]="user.password" required placeholder="{{'PASSWORD_PLACEHOLDER' | translate}}"></app-text-input>
  </div>
  <div class="buttonContainer">
    <app-button (click)="login()" buttonText="{{'BUTTON_TEXT_LOGIN' | translate}}"></app-button>
  </div>
</div>
