<div class="charts">
    <div class="card-channel-usage">
        <app-date-header title="Channel Usage"></app-date-header>
        <div>
            <app-chart-legend
            [data]="barChartData"
            (clickLegend)="receiveLegend($event,blacklistChannelUsage)"
            >
            </app-chart-legend>
            <canvas baseChart
                [datasets]="barChartData | arrayDifference: blacklistChannelUsage"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [chartType]="barChartType"
                [colors]="barChartData | arrayDifference: blacklistChannelUsage"
                >
            </canvas>
        </div>
    </div>
    <div class="card-list">
        <app-date-header title="Top 3 Albums by Region"></app-date-header>
    </div>
</div>

<div class="card-genres">
    <app-date-header title="Genres"></app-date-header>
        <div class="charts-content">
            <div class="div-chart-kkbox">
                    <app-chart-legend
                    [data]="lineChartDataKkbox"
                    (clickLegend)="receiveLegend($event,blacklistKkbox)"
                    >
                    </app-chart-legend>
                    <div class="div-chart">
                        <canvas baseChart id="line-chart-kkbox"
                        [datasets]="lineChartDataKkbox | arrayDifference: blacklistKkbox"
                        [labels]="lineChartLabelsKkbox"
                        [colors]="lineChartDataKkbox | arrayDifference: blacklistKkbox"
                        [legend]="lineChartLegendKkbox"
                        [chartType]="lineChartTypeKkbox"
                        [plugins]="lineChartPluginsKkbox"
                        [options]="lineChartOptionsKkbox"
                        >
                        </canvas>
                    </div>
                <p class="title">KKbox</p>
            </div>
            <div class="divider"></div>
            <div class="div-chart-spotify">
                    <div class="div-chart">
                        <canvas baseChart id="line-chart-spotify"
                        [datasets]="lineChartDataSpotify | arrayDifference: blacklistSpotify"
                        [labels]="lineChartLabelsSpotify"
                        [colors]="lineChartDataSpotify | arrayDifference: blacklistSpotify"
                        [legend]="lineChartLegendSpotify"
                        [chartType]="lineChartTypeSpotify"
                        [plugins]="lineChartPluginsSpotify"
                        [options]="lineChartOptionsSpotify"
                        >
                        </canvas>
                    </div>
                <p class="title">Spotify</p>
            </div>
        </div>
</div>

<div class="card-analysis">
        <app-search-header 
        (clickSearch)="receiveForm($event)" 
        title="Analysis" 
        [inputs]="inputs"
        open=true
        >
        </app-search-header>
        <div class="chart-analysis">
                <div>
                    <app-chart-legend
                    [data]="barChartDataAnalysis"
                    (clickLegend)="receiveLegend($event, blacklistAnalysisChart)"
                    >
                    </app-chart-legend>
                    <canvas baseChart id="myChart" height="350px" width="1100px"
                        [datasets]="barChartDataAnalysis | arrayDifference: blacklistAnalysisChart"
                        [labels]="barChartLabelsAnalysis"
                        [options]="barChartOptionsAnalysis"
                        [chartType]="barChartTypeAnalysis"
                        [colors]="barChartDataAnalysis | arrayDifference: blacklistAnalysisChart"
                        >
                    </canvas>
                </div>
        </div>
</div>