@import "src/styles/vars";

.charts{
    display: flex;
    @media screen and (max-width: $small-screen) {
        display: block;
    }
    .card-channel-usage {
        background-color: white;
        width: 50%;
        margin-right: 30px;
        position: relative;
        box-shadow: 3px 8px 10px #e6e8f1;
        border-radius: 3px;
        @media screen and (max-width: $small-screen) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .card-list {
        background-color: white;
        width: 50%;
        box-shadow: 3px 8px 10px #e6e8f1;
        border-radius: 3px;
        @media screen and (max-width: $small-screen) {
            width: 100%;
            height: 400px;
        }
    }
}
.card-genres {
    background-color: white;
    width: 100%;
    margin-top: 30px;
    position: relative;
    box-shadow: 3px 8px 10px #e6e8f1;
    border-radius: 3px;
    .charts-content{
        width: 100%;
        padding: 0 15px;
        position: relative;
        display: flex;
        @media screen and (max-width: $small-screen) {
            width: 100%;
            display: block;
        }
        .div-chart-kkbox, .div-chart-spotify{
            width: 50%;
            @media screen and (max-width: $small-screen) {
                width: 100%;
            }
        }
        .div-chart-spotify {
            .div-chart{
                margin-top: 35px;
            }
        }
        .divider{
            width: 1px;
            height: 100%;
            background-color: #e6e8f1;
            position: absolute;
            transform: translateX(50%);
            right: 50%;
            @media screen and (max-width: $small-screen) {
                width: 100%;
                height: 1px;
            }
        }
    }
}

.title{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: #7E7E7F;
    margin-bottom: 10px;
    @media screen and (max-width: $small-screen) {
        padding-bottom: 10px;
    }
}

.card-analysis{
    background-color: white;
    width: 100%;
    margin-top: 30px;
    box-shadow: 3px 8px 10px #e6e8f1;
    border-radius: 3px;
    padding-bottom: 30px;
    .chart-analysis {
        padding: 0 20px;
    }

}

:host ::ng-deep app-search-header .header .icon {
    display: none;
}
:host ::ng-deep app-search-header app-text-input {
    width: 160px;
}
:host ::ng-deep app-search-header app-select-input {
    width: 160px;
}
