<div class="legend">
    <div class="datas" *ngFor="let i of data">
      <div class="item" (click)="emitLegend(i)">
        <div class="mark" [style.backgroundColor]="i.backgroundColor" [style.borderColor]="i.borderColor"></div>
        <p class="label">{{i.label}}</p>
      </div>
    </div>
</div>
