.legend {
    display: flex;
    margin: 12px 15px;
    .item {
        display: flex; 
        margin-right: 20px;
        align-items: center;
        .mark {
            width: 10px; 
            height: 10px; 
            border-width: 2px; 
            margin-right: 3px;
            border-radius: 64px;
        }
        .label {
            font-size: 11px;
            font-weight: 300;
            color: #7E7E7F;
        }
    }
}