<div class="search" [ngClass]="{open: open}">
    <div class="header" [ngClass]="{open: open}">
        <div class="title">
            <span class="title">{{title}}</span>
        </div>
        <div class="actions">
            <!-- <app-button type="submit" (click)="emitForm()" iconPath="../assets/images/search.svg" buttonText="Search"></app-button> -->
            <!-- <svg-icon (click)="toogleState(!open)" [@flyoutLeft] *ngIf="!open" class="icon" [src]="'../assets/images/search.svg'" [svgStyle]="{ 'width.px':16, 'height.px': 16 }"></svg-icon>
            <svg-icon (click)="toogleState(!open)" [@flyoutRight] *ngIf="open" class="icon" [src]="'../assets/images/arrow-left.svg'" [svgStyle]="{ 'width.px':16, 'height.px': 16 }"></svg-icon> -->
        </div>
        <div class="mainControllers">
            <svg-icon (click)="toogleState(!open)" [@flyoutLeft] *ngIf="!open" class="icon" [src]="'../assets/images/search.svg'" [svgStyle]="{ 'width.px':16, 'height.px': 16 }"></svg-icon>
            <svg-icon (click)="toogleState(!open)" [@flyoutRight] *ngIf="open" class="icon" [src]="'../assets/images/arrow-left.svg'" [svgStyle]="{ 'width.px':16, 'height.px': 16 }"></svg-icon>
        </div>

<!-- \       <app-button class="add-button" *ngIf="!open" iconPath="../assets/images/add.svg" buttonText="Add {{newStr}}"></app-button> -->
        <div class="divider"></div>
    </div>

    <div class="content" [@openCloseHeader] *ngIf="open">
        <form class="form" [formGroup]="form">
            <app-add-input
                [form]="form"
                darkMode 
                *ngFor= "let i of inputs" 
                [inputConfig]="i"
                darkMode
            >
            </app-add-input>
        </form>
        <div class="footer">
            <span (click)="clearForm()" class="clear" >Clear</span>
            <app-button lightButton type="submit" (click)="emitForm()" iconPath="../assets/images/search.svg" buttonText="Search"></app-button>
        </div>
    </div>
</div>