@import "src/styles/vars";

%local-active {
    color: $main-color;
    * {
        fill: $main-color
    }
}

:host {
    width: 100%;
    height: auto;
    @extend %panel;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    @media screen and (max-width: $small-screen) {
        min-height: 100%;
    }
}

.group-name {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding-right: 0px;
    font-size: 0.8em;
    font-weight: 400;
    color: #949494;
    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #dadada;
        margin-left: 10px;
    }
}
.menu-button-container {
    position: fixed;
    width: 100%;
    background: #FFF;
    top:0;
    left: 0;
    display: none;
    @media screen and (max-width: $small-screen) {
        display: block;
    }
}

::ng-deep {
    .menu-item {
        text-transform: capitalize;
        margin: 15px 0;
        color: $black;
        font-size: 14px;
        font-weight: 300;
        > a {
            @extend %transition;
            &:hover, &.active {
                @extend %local-active;
            }
            display: flex;
            > svg-icon {
                margin-right: 15px;
                >  svg {
                    * {
                        @extend %transition;
                        fill: $black;
                    }
                }
            }
        }
    }
}

