<label class="container" 
[appUiFormStylesController]="this" 
[appUiFormStylesControllerModelElement]="uiModel"
[ngClass]="{'filled': filled, 'focus': focus}">
  <div class="placeholder">{{placeholder}}</div>
  <input
    class="input"
    #uiModel
    type="text"
    [(ngModel)]="value"
    [required]="required"
    [pattern]="pattern"
    />
</label>