@import "src/styles/vars";

.header{
    min-height: 50px;
    width: '100%';
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 15px;
        font-size: 15px;
        font-weight: 300;
        color: #7E7E7F;
    }
    .divider{
        width: calc(100% - 30px);
        height: 1px;
        background-color: #e6e8f1;
        position: absolute;
        left: 15px;
        bottom: 0;
    }
    .inputs{
        position: absolute;
        right: 0;
        margin-right: 15px;
        app-text-input {
            margin-left: 15px;
            width: 140px;
        }
    }
}