<div class="header">
  <div class="content">
      <span class="title">{{title}}</span>
  </div>
  <!-- <div class="inputs">
    <app-text-input required placeholder="Testando"></app-text-input>
    <app-text-input required placeholder="Testando"></app-text-input>
  </div> -->
  <div class="divider"></div>
</div>
