@import "src/styles/vars";

:host {
    display: flex;
    min-height: 100%;
}
.main-container {
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    @media screen and (max-width: $small-screen) {
        height: calc(100vh - #{$menu-mobile-h});
    }
    .content {
        padding-top: $padding;
    }
}
.menu-container {
    max-height: 100vh;
    overflow: auto;
    height: 100vh;
    padding: 20px;
    min-width: $menu-w;
    z-index: 2;
    @media screen and (max-width: $small-screen) {
        position: fixed;
        max-height: 100vh;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        padding: 0;
        padding-top: 48px;
    }
}